doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/libs/angular/angular.js")
    script(src="/libs/angular-ui-router/release/angular-ui-router.js")
    script(src="/js/app.js")
    script(src="/js/controllers/mainCtrl.js")    
